#root{
    position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.manual-control, .slider{
    float: left;
}
.btn{
    text-align: center;
    margin: 4px 4px;
}
.slider input{
    height: 30px;
    text-align: center;
    margin: 0 10px;
}
.controller {
  display: flex;
  justify-content: center;
  align-items: center; 
}